"*":
  "atom-ide-ui":
    use: {}
  "autocomplete-paths":
    enableHtmlSupport: true
    ignoreBuiltinScopes: true
    ignoreSubmodules: true
    ignoredNames: false
    ignoredPatterns: [
      ".git"
      "node_modules"
    ]
    normalizeSlashes: false
    suggestionPriority: 1
  core:
    disabledPackages: [
      "atom-ide-ui"
      "file-icons"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "monokai"
    ]
  editor:
    fontFamily: "\"Source Han Code JP\""
    fontSize: 15
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  emmet:
    extensionsPath: "~/.atom/emmet-extentions"
  "exception-reporting":
    userId: "b1ee65c5-6bfd-4af2-8099-eb52f2a2ba10"
  "highlight-line":
    hideHighlightOnSelect: true
  "linter-phpcs":
    disableWhenNoConfigFile: true
  "linter-ui-default":
    panelHeight: 92
  "platformio-ide-terminal":
    style:
      defaultPanelHeight: "100px"
    toggles:
      autoClose: true
  "project-manager":
    savePathsRelativeToHome: true
    sortBy: "last modified"
  "seti-ui":
    compactView: true
    disableAnimations: true
    hideDocumentTitle: true
    hideProjectTab: true
  welcome:
    showOnStartup: false
